%h2
  Bridge Score
.notifications
  - if @errors
    .errors= @errors
  - if @score
    .success= @score.points

%form{:method => "post", :action => "/calculate"}
  %ul.inputs
    %li
      %label{:for => "contract_input"}
        Contract
        %abbr{:class => 'required', :title => "Required"}> *
      %input{:type => "text", :id => 'contract_input', :name => "contract", :value => params['contract']}
    %li
      %label{:for => "vulnerable_input"}
        Vulnerable?
        %abbr{:class => 'required', :title => "Required"}> *
      %select{:id => 'vulnerable_input', :name => "vulnerable"}
        %option{:value => "0", :selected => params['vulnerable'] == "0" ? true : false} No
        %option{:value => "1", :selected => params['vulnerable'] == "1" ? true : false} Yes
    %li
      %label{:for => "tricks_input"}
        Tricks (+2, -1, = also supported)
        %abbr{:class => 'required', :title => "Required"}> *
      %input{:type => "text", :id => 'tricks_input', :name => "tricks", :value => params['tricks']}
  %ul.buttons
    %li
      %input{:type => "submit", :id => "submit_input", :name => "commit", :value => "Calculate"}

