!!! strict
%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    #container
      #content
        = yield