!!! strict
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "description", :content => "Calculate Bridge points for given contract or search for all possible contracts for given points"}
    %title= "Bridge Score"
    %link{:href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "shortcut icon", :href => "/images/spade.ico"}
  %body
    #container
      #content
        %h2
          %a{:href => "/"} Calculate Your Bridge Score
        = yield
        = haml(:"_contract", :layout => false)
        = haml(:"_points", :layout => false)