.notifications
  - if @errors
    .errors= @errors
  - else
    .success
      = "Contracts with points: #{@input}"

- unless @contracts.nil?
  .contracts
    %ul
      - @contracts.each do |contract|
        %li
          = render_suit(contract.gsub(/(v)\Z/, " vulnerable"))
